/* font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Qwitcher+Grypen:wght@700&family=Work+Sans:wght@400;500&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Header Section  */
header{
    width: 100%;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
/* Navigation  */
.nav-container{
    display: flex;
    gap: 673px;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    margin-left: 230px;
    margin-top: 15px;

}
.nav-title h2{
    font-weight: 700;
    font-size: 45px;
}
.nav-item{
    display: flex;
    gap: 45px;
    margin-right: 240px;
    margin-top: 20px;

}
.nav-item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
 /* Header Title  */
 .header-title{
    width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
 }
 .header-title .header-info h2{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
 }
 .header-title .header-info{
    margin-bottom: -50px;
 }
 .header-title .header-discription p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
 }
 .header-title .header-button button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    border: white;
    font-weight: 600;
    font-size: 20px;
 }
 .header-title .header-button{
    margin-top: 18px;
 }
 
 /* banner  */
 .banner{
    margin-top: 50px;
    margin-left: 12.5%;
    margin-bottom: 45px;
 }
/* Mid Top  */
.top-mid-container{
    display: flex;
    gap: 65px;
    margin-top: 85px;
    margin-left: 301px;
    margin-bottom: 65px;
}
.top-mid-container .partition-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.top-mid-container .partition-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 305px;
}
.top-mid-container .partition-2 .light{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.top-mid-container .partition-2 .dark{
    font-weight: 800;
    font-size: 45px;
    color: #131313;
}
.top-mid-container .partition-2 .orange{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
    margin-top: -30px;
}
.top-mid-container .partition-2 p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: -30px;
}
.top-mid-container .partition-2 .primary-btn{
    margin-top: 10px;
}
.primary-btn{ 
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #ffffff;
    border: white;
    font-weight: 600;
    font-size: 20px;
}

/* Second Mid  */
.second-mid-container{
    margin-left: 240px;
    /* display: flex; */
    
    margin-top: 110px;
    margin-bottom: 65px;
}
.main-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
}
.line{
    width: 5px;
    height: 106px;
    background: #FF900E;
}
.title{
    display: flex;
}
.title h2{
    font-weight: 700;
    font-size: 45px;
    margin-top: 0;
    margin-left: 21px;
}
.title-discription p{
    margin-top: 0px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.content-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-cont .item{
    padding: 30px;
    margin-right: 50px;
}
.content-cont .item h2{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.content-cont .item p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.second-mid-container .partition-2{
    margin-right: 240px;
}
.mega-button{
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    margin-left: 35%;
    border: white;
}
.mega-button h2{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
    margin-top: 5px;
}
.mega-button p{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 0;
}
.btn-cont{
    margin-top: -180px;
}

@media only screen and (max-width){
    
    .nav-container{
        flex-direction: column;
        gap: 20px;

    }
}